{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .buttonClass + .buttonClass {
        margin-left: 20px;
    }
</style>
<h2>Quality Control</h2>
<a href="{{ url_for('qualitycontrol.confirm_check') }}" class="buttonClass">Confirm Check</a>
<a href="{{ url_for('qualitycontrol.check_logs') }}" class="buttonClass">Check Log</a>
<br>
<br>
<br>
<a href="{{ url_for('qualitycontrol.check_stock') }}" class="buttonClass">Stock Check</a>
<a href="{{ url_for('qualitycontrol.check_logs') }}" class="buttonClass">Stock history</a>

{% endblock %}
    