{% extends 'layoutP.html' %}

{% block title %}Cut{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="form-container">
        </div>
        <div class="form-container">
            <form method="GET" action="/select_cut">
                <div>
                    <td>Sequence No.</td>
                    <input type="number" name="order_sequence" id="order_sequence">
                </div>

                <div class="form-action">
                    <button type="submit" class="form-button">Select</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
