{% extends 'layoutP.html' %}

{% block title %}Cut Details{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="form-container">
            <h2>Select Cut Row</h2>
            <form method="POST" action="/select_cut">
                
                <table class="table">
                    <thead>
                        <tr>                            
                            <th>M Type</th>
                            <th>M Size</th>
                            <th>M Qty</th>
                            <th>Work Size</th>
                            <th>Work Qty</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in plan_details %}
                        <tr>                            
                            <td>{{ detail.material_type }}</td>
                            <td>{{ detail.material_size }}</td>
                            <td>{{ detail.material_qty }}</td>
                            <td>{{ detail.size }}</td>
                            <td>{{ detail.quantity }}</td>
                            <td>
                                <input 
                                    type="checkbox" 
                                    name="selected_cuts" 
                                    value="{{ detail.idplan_details }}"
                                    {% if detail.process_cut is not none %} disabled {% endif %}
                                >
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="form-action">
                    <button type="submit" class="form-button">Confirm Cut</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}