{% extends 'layoutP.html' %}

{% block title %}Split{% endblock %}

{% block content %}
<style>
        .input-change {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .input-change label {
            /* display: inline-block; */
            width: 100px;
            font-weight: bold;
        }

        .input-change input {
            width: 60px;
            margin-right: 5px;
        }

        .form-action {
            margin-top: 20px;
        }

        .form-button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
<body>
    <div class="container">
        <div class="form-container">
            
            <form method="POST" action="/start_split">
                <h2>Start Spliting</h2>
                <div class="input-group">
                    <label>Work Detail</label><br>
                    <label>Machine: {{ matchine }}</label>
                    <br>
                    <input type="hidden" name="matchine" value=" {{ matchine }}">
                    <input type="hidden" name="sequence" value="{{ sequence }}">
                    <input type="hidden" name="row_number" value="{{ row_number }}">
                    <label>Type: {{ plan_details.material_type }}</label>
                    <input type="hidden" name="material_type" value="{{ plan_details.material_type }}">
                    <br>
                    <label>Size: {{ plan_details.work_thickness - plan_details.work_tolerance_thickness }} x {{ plan_details.work_width - plan_details.work_tolerance_width }} x {{ plan_details.work_length }}</label>
                    <input type="hidden" name="size" value="{{ plan_details.work_thickness - plan_details.work_tolerance_thickness }}x{{ plan_details.work_width - plan_details.work_tolerance_width }}x{{ plan_details.work_length }}">
                    <br>
                    <label>Qty: {{ plan_details.quantity }}</label>
                    <br>
                </div>
                
                <div class="form-action">
                    <button type="submit" class="form-button">Start Spliting</button>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}


