<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cut</title>
</head>
<body>
    <h1>Start Cut</h1>
    <form method="POST" action="{{ url_for('production.start_cut', machine=request.form.get('machine')) }}">
        <div>
            <label for="machine">Select Machine:</label>
            <select id="machine" name="machine">
                <option value="1">Cut 1</option>
                <option value="2">Cut 2</option>
                <option value="3">Cut 3</option>
            </select>
        </div>
        {{ form.hidden_tag() }}
        <div>
            {{ form.sequence_number.label }}<br>
            {{ form.sequence_number() }}<br>
        </div>
        <br>
        <div>
            {{ form.number_in_sequence.label }}<br>
            {{ form.number_in_sequence() }}<br>
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    <br>
    <br>
    <br>
    <h1>End Cut</h1>
    <form method="POST" action="{{ url_for('production.end_cut') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.sequence_number.label }}<br>
            {{ form.sequence_number() }}<br>
        </div>
        <br>
        <div>
            {{ form.number_in_sequence.label }}<br>
            {{ form.number_in_sequence() }}<br>
        </div>
        <br>
        <div>
            {{ form.quantity_work.label }}<br>
            {{ form.quantity_work() }}<br>
        </div>
        <br>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</body>
</html>