<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide</title>
    <style>
        .button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
        }
    </style>
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</head>
<body>
    <a href="{{ url_for('production.start_slide', machine=1) }}" class="button">Machine 1</a>
    <br><br>
    <a href="{{ url_for('production.start_slide', machine=2) }}" class="button">Machine 2</a>
    <br><br>
    <a href="{{ url_for('production.start_slide', machine=3) }}" class="button">Machine 3</a>
    <br><br>
    <a href="{{ url_for('production.start_slide', machine=4) }}" class="button">Machine 4</a>
    <br><br>
    <a href="{{ url_for('production.start_slide', machine=5) }}" class="button">Machine 5</a>
</body>
</html>
